div.dataTables_wrapper div.dataTables_filter input:focus{
    outline-offset: 0;
    -webkit-appearance: none;
    outline-width: 0;
}
textarea#content {
    width: 100%;
    margin:auto;
}
.ck-editor__editable[role="textbox"] {
    /* editing area */
    min-height: 18em;
}
.ck-content .image {
    /* block images */
    max-width: 80%;
    margin: 20px auto;
}
.h-em-50{
    height: 50em !important;
}
.h-em-75{
    height: 75em !important;
}
.cursor-pointer{
    cursor: pointer !important;
}
.hover-black:hover{
    color: black !important;
}
.overflow-y-auto{
    overflow-y: auto !important;
}
.overflow-x-auto{
    overflow-x: auto !important;
}
.h-20{
    height: 20% !important;
}
.h-80{
    height: 80% !important;
}
.h-50{
    height: 50em !important;
}
.cursor-wait{
    cursor: wait;
}